version: "3.8"

volumes:
    postgres-data:
    redis-data:
    rabbitmq-data:
    rabbitmq-log:

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        env_file:
            - .env # Ensure that the variables in .env match the same variables in devcontainer.json
        volumes:
            - ../..:/workspaces:cached
        command: sleep infinity # Prevent the app from shutting down immediately
        depends_on:
            - postgres
            - redis
            - rabbitmq
        networks:
            - app-network

    postgres:
        image: postgres:latest
        restart: unless-stopped
        volumes:
            - postgres-data:/var/lib/postgresql/data
        env_file:
            - .env # Ensure that the variables in .env match the same variables in devcontainer.json
        networks:
            - app-network

    postgres_test:
        image: postgres:15
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: secret
            POSTGRES_DB: crud_test
        ports:
            - "5433:5432" # Map container's port 5432 to host's port 5433
        networks:
            - app-network

    redis:
        image: redis:7
        restart: unless-stopped
        command:
            [
                "redis-server",
                "--appendonly",
                "yes",
                "--requirepass",
                "${REDIS_PASSWORD}",
            ]
        volumes:
            - redis-data:/data
        ports:
            - "6379:6379" # Expose Redis port
        env_file:
            - .env # Ensure REDIS_PASSWORD is defined
        networks:
            - app-network

    redis_test:
        image: redis:7
        command: ["redis-server", "--appendonly", "no"]
        ports:
            - "6380:6379" # Map container's port 6379 to host's port 6380
        networks:
            - app-network

    rabbitmq:
        image: rabbitmq:3-management
        restart: unless-stopped
        ports:
            - "5672:5672" # RabbitMQ messaging port
            - "15672:15672" # RabbitMQ management UI port
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        volumes:
            - rabbitmq-data:/var/lib/rabbitmq
            - rabbitmq-log:/var/log/rabbitmq
        networks:
            - app-network

    rabbitmq_test:
        image: rabbitmq:3-management
        ports:
            - "5673:5672" # Map container's port 5672 to host's port 5673
            - "15673:15672" # Map container's management UI port 15672 to host's port 15673
        environment:
            RABBITMQ_DEFAULT_USER: test
            RABBITMQ_DEFAULT_PASS: test
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
